body {
	font-family: 'Roboto', sans-serif;
	background-color: #121212;
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.main-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}